:root {
  --mainColor: #46344e;
  --secondaryColor: #382a3f;

  --borderColor: #1d1520;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgb(29, 21, 32, 0.8);
  --previewShadow: #2b202f;

  --navColor: #281c2d;
  --buttonColor: #8534a3;
  --autoTypeColor: #8fbc8fab;
  --ovelayColor: linear-gradient(rgba(0, 0, 0, 0.5), #44214bd5);
  --socialColor: var(--buttonColor);
}
